<head>
  <title>Contacte-nous!</title>
</head>

<body>
  <h1>Contact</h1>
  <p>Pour contacter l'équipe:</p>
  <ul>
    <li>Par email : donatelladelinares@hotmail.fr</li>
    <li>Par téléphone : 0679350507</li>
  </ul>